*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #f7b617;
}
p {
  font-size: 1.5em;
}
.thumbnail {
  background: none;
  padding: 10px;
  border-color: #fff;
}

/*styles portada*/
.navbar-toggle{
  float: left;
}

.navHeader{
  background-color: white;
}

.navbar-default .navbar-toggle{
  border: 0;
  margin-top: 20px;
}

a.navbar-brand{
  position: relative;
  left: 82px;
}

.nav-collapse-list>ul>li>a{
  color:black;
  padding: 30px;
}

.navbar {
  margin-bottom: 0px;
}
/*Hero*/
.enjoythetravel{
  position:absolute;
  width: 300px;
  height: 200px;
  right: 0;
  top: 20%;
}
#hero{
  position: relative;
  background: url(../assets/img/taxi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 90vh;
  overflow: hidden;
  color: #fff;
}

/*styles section informacion*/
#informacion{
  width: 100%;
  height: 85vh;
  background-color:  #f7b617;
}

#informacion .thumbnail {
    margin: 21% 2% 6% 0;
    padding: 7% 7%;
}
#informacion .container{
  margin-left: auto;
  padding-left: 21px;
}

/*Styles Conduce*/
.conduce-content .content {
  padding: 5% 14px;
  background-color: rgba(52, 52, 52, 0.45);
  height: 350px;
}
.btn-warning{
  background-color:  #f7b617;
}
#conduce{
  background: url(../assets/img/conduce.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*styles about section tarifa*/
.form-group input[type="text"]{
    background:none;
    border: 1px solid #fff;
    width: 70%;
    display: inline-block;
}
input[type="text"]::-webkit-input-placeholder{
    color: #fff;
}
#tarifa{
  width: 100%;
  height: 80vh;
}

#calcTarifa {
  width: 250px;
  height: 150px;
  color: #2b2b2b;
  font-size: 1.2em;
  margin-top: 20px;
}

@media (min-width: 768px){
  a.navbar-brand>img{
    position: relative;
    top: 0px;
    left: 69px;
  }

  .nav-collapse-list ul li{
    display: inline-block;
    width:120px;
    text-align: center;
    position: relative;
    top: 14px;
  }

  .nav-collapse-list>ul>li>a{
    padding: 10px;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .navHeader{
    padding-bottom: 20px;
  }
  .enjoythetravel{
    position:absolute;
    width: 500px;
    height: 320px;
    right: 0;
    top: 20%;
    padding-left: 20px;
    background-color: #f7b617;
  }
  .enjoythetravel hr{
    margin-top: 30px;
    width: 38%;
  }
  .enjoythetravel hr::after {
    content: "O bien";
    position: relative;
    top: -15px;
    left: 35%;
    width: 80px;
    background-color: #f7b617 ;
    padding: 0 50px;
  }
  .btn{
    margin-top: 14px;
    font-weight: bold!important;
  }
  #hero{
    position: relative;
    background: url(../assets/img/taxi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 90vh;
    overflow: hidden;
    color: #fff;
  }

  #informacion .thumbnail{
    margin: 5% 2% 5% 0;
    padding: 2% 7%;
  }
  #informacion .container{
    margin-left: 0px;
    padding-left: 0px;
  }
}
