*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*styles portada*/
.navbar-toggle{
  float: left;
}

.navHeader{
  background-color: white;
}

.navbar-default .navbar-toggle{
  border: 0;
  background-color: white !important;
  margin-top: 20px;
}

a.navbar-brand{
  position: relative;
  left: 82px;
}

.nav-collapse-list>ul>li>a{
  color:black;
  padding: 30px;
}

.navbar {
  margin-bottom: 0px;
}
/*styles section informacion*/
#informacion{
  width: 100%;
  height: 85vh;
  background-color:  #f7b617;
}
.thumbnail{
  background: none;
  border-color: #fff;
}
#informacion .thumbnail {
    margin: 21% 2% 6% 0;
    padding: 7% 7%;
}
#informacion .container{
  margin-left: auto;
  padding-left: 21px;
}


@media (min-width: 768px){
  a.navbar-brand>img{
    position: relative;
    top: 0px;
    left: 69px;
  }

  .nav-collapse-list ul li{
    display: inline-block;
    width:120px;
    text-align: center;
    position: relative;
    top: 14px;
  }

  .nav-collapse-list>ul>li>a{
    padding: 10px;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .navHeader{
    padding-bottom: 20px;
  }

  #informacion .thumbnail{
    margin: 5% 2% 5% 0;
    padding: 2% 7%;
  }
  #informacion .container{
    margin-left: 0px;
    padding-left: 0px;
  }

}
